* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body{
  min-height: 100vh;
  border: 10px solid var(--border-color);
  transition: border-color 1.5s ease;
  background: var(--background);
  color: var(--text-color);
}

button, a {
  color: var(--btn-color);
}

[data-theme="dark"]{
  --background: #16191c;
  --text-color: #bfc2c7;
  --secondary-color: #333;
  --btn-color: #bfc2c7;
  --btn-hover: #333;
  --svg-color: #bfc2c7;
  --svg-hover: #333;
}


[data-theme="light"]{
  --background: #bfc2c7;
  --text-color: #16191c;
  --secondary-color: #333;
  --btn-color: #16191c;
  --btn-hover: #333;
  --svg-color: #16191c;
  --svg-hover: #333;
}